@model MyComercio.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <button onclick="MostrarDetalles(@Model.Id)">Mostrar detalles</button>
</div>
<div id="DivDetalleVenta"></div>
